  html {
      font-size: 14px
  }
  body {
      font-size: 1rem;
      line-height: 1.5rem;
      font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
      word-wrap: break-word;
      background-color: #151515;
      color: white
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      line-height: 1.3em
  }
  fieldset {
      border: none;
      padding: 0;
      margin: 0
  }
  pre {
      padding: 5px 5px 5px 15px;
      margin: 5px 5px 0px 0px;
      background-color: #000;
      border: 1px solid #ccc;
      overflow: auto
  }
  pre:hover {
      background-color: #312;
  }
  code,
  pre,
  pre code {
      font-weight: 100;
      text-shadow: none;
      margin: 1.75rem 0
  }
  a {
      cursor: pointer;
      color: #ff2e88;
      text-decoration: none;
      border-bottom: 1px solid #ff2e88
  }
  a:hover {
      background-color: #ff2e88;
      color: #fff
  }

