  html {
      font-size: 14px
  }
  body {
      font-size: 1rem;
      font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
      word-wrap: break-word;
      background-color: #111;
      color: #aaa
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      line-height: 1.3em
  }
  pre {
      width: 380px;
      padding: 5px;
      margin: 1px;
      background-color: #000;
      border: 1px solid #ccc;
      overflow: auto
  }
.floating-box {
    float: left;
    width: 400px;
    margin: 10px;
}

.after-box {
    clear: left;
}
  pre:hover {
      background-color: #201;
      color: #fff
  }

  code,
  pre,
  pre code {
      font-weight: 100;
      text-shadow: none;
  }
  a {
      cursor: pointer;
      color: #ff2e88;
      text-decoration: none;
  }
  a:hover {
      background-color: #201;
      color: #fff
  }
  .ascii-art {
      font-family: monospace;
      white-space: pre;
  }
  
